*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

.navbar-nav > li{
  padding: 0 1rem;
}

.flashcard-text{
  width: 400px;
}

.landing-page-container{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('img/background.jpg');
  background-size: cover;
}

.landing-page {
  width: 100%;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.title {
  font-size: 3rem;
}

.description {
  font-weight: 300;
  letter-spacing: 1px;
  margin: 1rem;
  font-size: 1.1rem;
}

.options {
  margin-top: 1rem;
  width: 200px;
  display: flex;
  justify-content: space-around;
}